{{- $githubNoreplyEmail := promptString "githubNoreplyEmail" -}}
{{- $githubSigningkey := promptString "githubSigningkey" -}}
[data]
    githubNoreplyEmail = "{{ $githubNoreplyEmail }}"
    githubSigningkey = "{{ $githubSigningkey }}"
