
[init]
	defaultBranch = main

[alias]
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
  st = status
  co = checkout
  cm = commit
  last = log -1 HEAD --name-status
  br = branch
  rem = remote -v
  bra = branch -av

[commit]
	gpgsign = true

[user]
	name = Eskil Uhlving Larsen
	email = "{{ .githubNoreplyEmail }}"
	signingkey = "{{ .githubSigningkey }}"
[includeIf "gitdir:~/github/udi/"]
  path = ~/github/udi/.gitconfig

[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
